.slide__title{
    color: blue;
text-shadow: 5px 5px 5px red ;
font-size: 200%;
position: center;
}
.demo{
    color: white;
}
.codrops-header__title{
    color: white;
}
.codrops-icon codrops-icon--drop{
    color: white;
}

.custom-logo {
    width: auto;
    height: 75px;
    
        height: 75px;
        max-width: 100%;
        vertical-align: middle;
        }